<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
      <script src="angular/lib/angular.js"></script>
      <script src="angular/lib/angular-route.js"></script>
      <script src="angular/lib/ng-file-upload-shim.js"></script>
      <script src="angular/lib/ng-file-upload.js"></script>
      <script src="angular/app.js"></script>
      <script src="angular/appController.js"></script>
  </head>
  <body> 
      <div ng-view="">
      </div>       
  </body>
</html>
